.flex1-container {
    display: flex;  
    margin: 15px;
    align-items: center;
}

nav ul {
    padding-left: 75px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-left: 100px;
}

nav li a {
    text-decoration: none;
    font-weight: bold; /* mettre une liste en gras */
    color: black;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

a:hover {
    color: darkcyan;
}

ol.breadcrumb {
    display: flex;
    margin-top: 55px;
    margin-left: -45px;
}

ol.breadcrumb li {
    list-style-type: none;
    margin-left: 20px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

ol.breadcrumb li a {
    text-decoration: none;
    color: black;
}

ol.breadcrumb li a:hover {
    color: darkcyan;
}

section {
    padding-top: 35px;
    
    margin-left: 15px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.fiche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 22px;
    border-color: darkgray;
}



span {
    text-decoration: underline;
    font-weight: bold;
}

.les_fiches {
    display: flex;
}
#RRP {
    color: cadetblue;
}
#saving {
    color: red;
}

@media screen and (max-width: 820px) {
    .flex1-container img {
        width: 170px;
        height: 170px;
        padding-bottom: 20px;
    }
    .flex1-container {
        display: flex;
        flex-direction: column;
    }
    .flex2-container ul {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-left: 0px;
    }
    .flex2-container li {
        border: 2px solid black;
        box-shadow: 5px 3px;
        margin: 0px;
        padding: 5px;
    }
    .flex2-container a {
        font-size: 79%;
    }
    section {
        margin-top: -65px;
    }
    .flex3-container  {
        display: flex;
        align-items: flex-start;
        width: 336px;
    }
    .les_fiches {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fiche {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .fiche img {
        width: 95%;
        height: 320px;
    }
    
}